*
{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}
.form-control[type=file] 
{
    width: 50%;
    position: fixed;
    right: 337px;
    top: 248px;
}
.form-label {
    color: white;
    top: 187px;
    left: 340px;
    margin-bottom: 0.5rem;
    position: fixed;
}

button.btn.btn-light {
    top: 307px;
    position: fixed;
    left: 350px;
}